@container(max-width:120px){.table-f21eacfe-d796-4c53-a92a-4f7b81108233-column-120{display: none;}}
@container(max-width:240px){.table-f21eacfe-d796-4c53-a92a-4f7b81108233-column-240{display: none;}}
@container(max-width:360px){.table-f21eacfe-d796-4c53-a92a-4f7b81108233-column-360{display: none;}}
@container(max-width:480px){.table-f21eacfe-d796-4c53-a92a-4f7b81108233-column-480{display: none;}}
@container(max-width:600px){.table-f21eacfe-d796-4c53-a92a-4f7b81108233-column-600{display: none;}}
@container(max-width:720px){.table-f21eacfe-d796-4c53-a92a-4f7b81108233-column-720{display: none;}}
