<header class="dashboard-header">
  <div class="logo-nav">
    <div class="logo">
      <span class="material-symbols-outlined">verified_user</span>
      <h2>iAssure</h2>
    </div>
    <nav>
      <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Dashboard</a>
      <a routerLink="/incidents" routerLinkActive="active">Incidents</a>
      <a routerLink="/reports" routerLinkActive="active">Reports</a>
      <a href="#">Settings</a>
    </nav>
  </div>

  <div class="actions" *ngIf="profile">
    <label class="search-box">
      <span class="material-symbols-outlined">search</span>
      <input placeholder="Search" (input)="onSearch($event)" />
    </label>
    <a class="icon-btn" [routerLink]="['/notifications']">
      <span class="material-symbols-outlined">notifications</span>
      <div *ngIf="unreadNotifications > 0" class="notification-badge">{{ unreadNotifications }}</div>
    </a>
    <div class="profile-menu">
      <button class="avatar-btn" (click)="toggleDropdown()">
        <div
          class="avatar"
          [style.backgroundImage]="'url(' + (profile.picture || '') + ')'"
          *ngIf="profile.picture"
        ></div>
        <div
          class="avatar avatar-initials"
          *ngIf="!profile?.picture"
        >
          {{ userInitial }}
        </div>
      </button>
      <div class="dropdown-menu" *ngIf="isDropdownOpen">
        <a routerLink="/profile" (click)="toggleDropdown()">Profile</a>
        <a (click)="onLogout()">Logout</a>
      </div>
    </div>
  </div>
</header>
